/node_modules
/public/hot
/public/docs
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.prod
.env.example
.serverless
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store
**/.DS_Store
